body {
    font-family: Arial, sans-serif;
    margin: 40px;
    padding: 0;
    font-size: medium;
}
.title_und {
    color: #023588;
     text-align: center;
     margin-top: 20px;
}

div[class^="unid"] {
    margin: 10px;
    padding: 30px 30px 30px 30px;
}
.unid1{
   background-color: rgb(165, 208, 245);
   color: #023588; 
   margin-bottom: 40px;;
   
  
}

.unid1_subtitle{
    border-bottom: solid #023588;
    border-spacing: 2px;
    

}
.unid1_text{
    border-bottom: solid #023588;
    border-spacing: 2px;
    
}

.unid2{
    background-color: #bda2da;
    color: #8447c6;
}

.unid2_text{
    border-bottom: solid #8447c6;
    
}
.img1{
    margin-top: 20px;
}
.unid3{
    background-color: aquamarine;
    color: #226834;
    padding-bottom: 30px;
}
.a1 {
    padding: 5px;
    background-color: #233e2a;
    border-radius: 6px;
    text-decoration: none;
    color: antiquewhite;
    position: relative;
    bottom: 3px;
    top: -6px;
    left: 10px;
    
}
.a1:hover{
    background-color: #226834;
}
.unid3_text{
    border-bottom: solid #233e2a;
    
}
.unid4{
    background-color: #eb9999;
    color: #a83131;
}
.unid4_text{
    border-bottom: solid #8447c6;
}

